/* CSS Reset */

*{
	margin: 0;
	padding: 0;
	box-sizing: ;
}




body{
	font-family: "Open sans", sans-serif;
}

nav{
	/* shorthand property */
	/* 0.8rem = 12.8px */
	padding: 0.8rem;

	/*padding-top: 0.8rem;
	padding-left: 0.8rem;
	padding-right: 0.8rem;
	padding-bottom: 0.8rem;*/
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;
}

/* margin vs padding */
/* margin is best when used when creating space between elements */
/* padding is best when used when creating space between elements's boarder and it's content */

nav .nav, nav .nav-logo{
	margin: 0.5rem;
	/* changes elements to inline elements */
	/* "display" property has default value -> "block" */


	display: inline;

}

/* intro section */
#intro{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;

	/* shorthand property for padding */
	/* sequence -> TLRB */

  /*	padding: 2rem 10% 10% 3rem; */
  text-align: center;
}

.header{
	text-align: center;
}
#intro h2, #intro p{
	margin-bottom: 1rem;
}

#intro button{
	color: white;
	/* changes the thickness of text */
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;


}

/* succeed info section  */

#succeed-info {
	padding-top: 2rem;
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 2rem;

}

#succeed-info h2{
	margin-bottom: 1rem;

}

#succeed-info h3{
	text-align: center;
	margin-bottom: 1rem;

}
#succeed-info .card{
	/* allows the cards to appear beside each other  */
	display: inline-block;
/*	aligns elements with the tallest elements in line*/
	vertical-align: top;
	min-height: 175px;
	width: 30%;
	margin-right: 0.5rem;
	margin-left: 0.5rem;
}
.card p{
	text-align: center;
}
footer{
	padding: 0.7rem;
	text-align: center;
}

footer span{
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
/* pre-footer */
#pre-footer{
	/* creates between the div tags and the pre-footer border */
	padding: 1rem;
	background-color: #002540;
	/* allows for readability and color contrasting with dark backgound */
	color: white;
	
}

#pre-footer div{
	/* allows the cards to appear beside each other */
	display: inline-block;
	/* makes longer text wrap around (phone numbers) */
	vertical-align: top;
	min-height: 50px;
	width: 20%;
	margin-top: 0.2rem;
	margin-bottom: 0.2rem;
}

#pre-footer div *{
	/* creates space vertically between all the text element in the pre-footer */
	margin-bottom: 0.2rem;
	margin-top: 0.2rem;

}
.card p{
	text align-content: center;
}